@page "/Games"
@model GamesModel
@{
    ViewData["Games"] = "Demouse Studios";
}
<div class="text-center">
    <h3>Games!</h3>
    <div style="text-align: center;">
        <h5>Click here to play: <a href="/Games/TalleyShot">TalleyShot!</a></p>
        <p> TalleyShot by Quinn</p>
    </div>
</div>
