@page ""
@model IndexModel
@{
    ViewData["Title"] = "Demouse Studios";
}

<div class="text-center">
    <h1 class="display-4">Demouse Studios</h1>
    <p>Welome to our website :3</p> 
</div>
